/* ========================================> Author */
/* Author : Dope Karibbean
    Date : 16.05.2023
    Version : 1.0
*/


/* ========================================> Typography */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');


/* ========================================> Custom CSS Variables */
:root {
    /* Primary colors */
    --primary-soft-blue: hsl(215, 51%, 70%);
    --primary-cyan: hsl(178, 100%, 50%);

    /* Neutral colors */
    --neutral-background-dark-blue: hsl(217, 54%, 11%);
    --neutral-card-background-dark-blue: hsl(216, 50%, 16%);
    --neutral-line-dark-blue: hsl(215, 32%, 27%);
    --neutral-white: hsl(0, 0%, 100%);
}


/* ========================================> Reset CSS */
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}


/* ========================================> Global */
body {
    width: 100%;
    height: 100%;
    background-color: var(--neutral-background-dark-blue);
    color: var(--neutral-white);
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.component {
    margin-top: 100px;
}
/* ========================================> Card Global */
.product-card {
    width: 350px;
    height: 595px;
    background-color: var(--neutral-card-background-dark-blue);
    padding: 24px;
    border-radius: 15px;
    box-shadow: 0 23px 55px rgba(0, 0, 0, .5);
}

.nft-picture {
    position: relative;
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 25px;
}

.nft-picture:hover {
    background-color: var(--primary-cyan);
    cursor: pointer;
}

.nft-title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--neutral-white);
}

.nft-description {
    color: var(--primary-soft-blue);
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 20px;
}

.nft-sales-statistics {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.nft-price {
    color: var(--primary-cyan);
}

.nft-creation-date {
    color: var(--primary-soft-blue);
}

.ethereum-logo, .clock-logo {
    padding-right: 5px;
}

hr {
    border: 0.1px solid var(--primary-soft-blue);
    margin-bottom: 15px;
}

.nft-author {
    display: flex;
    align-items: center;
}

.nft-author-avatar {
    width: 30px;
    border: 1px solid var(--neutral-white);
    border-radius: 50%;
    margin-right: 10px;
}

.highlight {
    color: var(--primary-soft-blue);
}

.nft-title:hover, span:hover {
    color: var(--primary-cyan);
    cursor: pointer;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 50px;
}

.attribution a {
    text-decoration: none;
    color: var(--primary-soft-blue);
}

a:hover {
    transition: .3s ease-out;
    color: #e7b913;
}